@import "../../app/styles/mixin";

.nameHeader {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.blockList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1255px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}

.list {
  width: 333px;
  height: 149px;
  padding: 25px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
}

.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #252B42;
}

.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}